
.editBox  {
    width: 475px !important;
}

.adminActions {
    display: none;
}

.chatUser:hover .adminActions,
#chatContent > div.admin:hover .adminActions {
    display: inline;
}

.adminActions > a{
    text-decoration: none;
    opacity: 0.5;
    border-bottom:none;
    height:20px;
    width:22px;
    padding:0px 4px 3px 4px;
    display:inline-block;
}

.adminActions a:hover {
    background-color:transparent;
}

.adminActions > a:hover{
    opacity: 1.0;
}

button#chatMsgSubmit {
    min-width: calc(20% - 25px);
    max-width: calc(67% - 25px);
    vertical-align: top;
}

#chatMsgMoreButtons {
    position: relative;
    vertical-align: top;
    display: none;
}

#chatMsgMoreButtons .moreButtonsExpand {
    width: 25px;
    padding-right: 0;
    padding-left: 0;
}

#chatMsgMoreButtons .buttonsWrapper {
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    width: 200px;
    display: none;
}
#chatMsgMoreButtons .buttonsWrapper button {
    display: inline-block;
}

a.edit {
    background-image: url('tud_chat_images/pen.png');
    background-repeat:
    no-repeat; background-position: center center;
}

a.delete {
    background-image: url('tud_chat_images/false.png');
    background-repeat: no-repeat;
    background-position: center center;
}

a.kick {
    background-image: url('tud_chat_images/false_22.png');
    background-repeat: no-repeat;
    background-position: center top;
}

a.ban {
    background-image: url('tud_chat_images/flag_red_22.png');
    background-repeat: no-repeat;
    background-position: center top;
}

a.warn {
    background-image: url('tud_chat_images/warning.png');
    background-repeat: no-repeat;
    background-position: center top;
}