/* chatContent
 * the chat messages container
*/
div#chatContent{
    height:400px;
    overflow:auto;
    word-wrap:break-word;
    padding-right: 1em;
}

div#chatContent > div {
    position: relative;
}

div#chatContent > div + div {
    margin-top: 1em;
}

div#chatContent > div:last-child {
    margin-bottom: 1em;
}

div#chatContent div.ownMessage {
    text-align: right;
}

div#chatContent div.chat-info {
    font-weight: 200;
    text-align: center;
}

div#chatContent div.chat-info .username {
    font-weight: normal;
}

div#chatContent div .meta-information {
    margin: 0 2em;
}

div#chatContent div .meta-information .chatdate {
    opacity: 0.6;
    margin-left: 0.4em;
    font-size: 0.8em;
}

div#chatContent div .message_content > span {
    max-width: 80%;
    display: inline-block;
    text-align: left;
    background-color: lightgray;
    padding: 0.4em 0.6em;
    min-width: 8em;
    position: relative;
    margin-top: 0.3em;
}

div#chatContent div .message_content > span::before {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 1em solid transparent;
    border-right: 1em solid lightgray;
    position: absolute;
    top: -1em;
}

div#chatContent div.ownMessage .message_content > span::before {
    border-top: 1em solid transparent;
    border-left: 1em solid #007bb1;
    border-right: none;
    right: 0.4em;
}


div#chatContent div.ownMessage .message_content > span {
    background-color: #007bb1;
    color: #fff;
}

div#chatContent div.ownMessage .message_content > span a {
    color: #fff;
    text-decoration: underline;
}

div#chatContent span.additional_content{
    display: block;
    font-size: 0.8em;
    font-weight: normal;
}

div#chatContent div.admin_delete  span.additional_content{
    color: darkred;
}

div#chatContent div.admin_delete  div.adminActions{
    display: none !important;
}

div#chatContent div.admin_edit span.additional_content {
    opacity: 0.6;
}

div#chatContent .admin_message .message_content {
    font-weight: bold;
}

/* breakpoint definition for chat message inputs and chatUser button */
div#chatMsg textarea,
button#chatMsgSubmit,
div#chatUser {
    display: inline-block;
    width: calc((620px - 100%) * 620);
    margin-bottom: 0.25em;
}


/* chatUser
 * the user list container
*/
div#chatUser {
    min-width: 15%;
    max-width: 30%;
    float: right;
}

div#chatUser button {
    width: 100%;
}

div#chatUser #userContainer{
    display: none;
    list-style:none;
    padding:0;
    margin:0;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid lightgray;
    padding: 1em;
    -moz-column-width: 11.5em;
    -webkit-column-width: 11.5em;
    column-width: 11em;
}

/*
 * chat message inputs
*/
div#chatMsg {
    position: relative;
}

#chatMsgForm {
    display: inline;
}

div#chatMsg textarea {
    min-width: 63%;
    max-width: 100%;
    min-height: 0;
    resize: none;
    vertical-align: top;
}

button#chatMsgSubmit {
    min-width: 20%;
    max-width: 68%;
}


.chat_explanation, .chat_nosession {
    padding-left: 0.5em;
    border-left: 0.5em solid #CDD4E2;
}



span.chat_option {
    font-weight: normal;
}

.password_field {
    display: none;
}

/* content from notification.css */

#notification_overlay{
    width            : 100%; /* will override by js */
    height           : 100%; /* will override by js */
    position         : fixed;
    top              : 0;
    left             : 0;
    z-index          : 300000;
    display          : none;
}

#notification_overlay .transparency{
    background-color : #000;
    width            : 100%; /* will override by js */
    height           : 100%; /* will override by js */
    position         : fixed;
    top              : 0;
    left             : 0;
    z-index          : -1;
    opacity          : 0.50;
}

#notification_container{
    position        : relative;
    width           : 500px;
    opacity         : 1.0;
    z-index          : 300001;
    word-wrap: break-word;
}

#notification_container hr {
    margin-top: 10px;
    padding-bottom: 10px;
}

#notification_container tt {
    font-weight: bold;
    font-size: 1.2em;
    color: #555;
    padding: 0px 5px 0px 5px;
}

#notification_container em {
    font-size: 1.6em;
    font-style:normal;
    margin:10px;
}

#notification_container input[type=text] {
    width:400px;
    border-radius: 3px;
    margin-left:10px;
}

.notification{
    width           : 500px;
    padding         : 20px;
    margin          : 5px 0 5px 0;
    border-radius   : 5px;
    border: 2px #555 solid;
    font-weight     : bold;
    background-color: #fff;
    z-index          : 300001;
}
.notification_error {
    color           : #800000;
}
.notification_success {
    color           : #33CC33;
}
.notification_warn {
    color           : #FF5D00;
}
.notification_general {
    color           : #FFCC00;
}
.notification_button_container{
    float: right;
}
.notification_button{
    min-width: 100px;
    margin: 2px 10px 2px 10px;
    padding: 2px 10px 2px 10px;
    float: left;
    outline: none;
}
/* content from notification.css */
