
div.clear{
    clear:both;
    width:0;
    height:0;
    padding:0;
    margin:0;
}

div.left{
	float: left;
}

div.left:nth-child(2){
	padding-top: 10px;
}

div#chat{
    border: 1px solid #acacac;
}
div#chatContent, div#chatUser{
    min-height:400px;
}
div#chatContent{
    height:400px;
    overflow:auto;
    word-wrap:break-word;
}
    div#chatContent ul{
        list-style:none;
        padding:0;
        margin:0;

    }
    div#chatContent ul li{
        border-bottom:1px solid #efeded;
        padding:0.35em;
    }

   div#chat li.hovered{
        background-color: #ddd;
    }

   div#chat li.selected{
        background-color: #FFF18F !important;
    }

    div#chatContent li.ownMessage span.username {
        text-decoration:underline;
    }

div#chatUser{
    float: right;
    width: 20%;
    border-left: 1px solid #acacac;
    word-wrap: break-word;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
    div#chatUser ul{
        list-style:none;
        padding:0;
        margin:0;
    }

    div#chatUser ul li{
        border-bottom:1px solid #efeded;
        padding:5px;
        position:relative;
    }

    div#chatUser ul li.ownUsername{
        font-weight:bold;
        text-decoration:underline;
    }


div#chatMsg{
    border-top: 1px solid #acacac;
}
    div#chatMsg input[type="text"]{
        width: 80%;
        float: left;
    }

    #counter {
        left: 80%;
        bottom: 0px;
        height:25px;
        line-height: 25px;
        text-align: right;
        width: 100px;
        margin-left: -105px;
        color: #ccc;
        background-color: transparent;
        position: absolute;
    }

    button#chatMsgSubmit {
        width: 20%;
    }


div#chatContent span.username{
    font-weight: bold;
}

    div#chatContent span.chatdate{
        color: #555;
        font-size: 0.65em;
    }

    div#chatContent li.admin_delete  span.additional_content{
        color: darkred;
    }

    div#chatContent li.admin_delete  div.adminActions{
        display: none !important;
    }

    div#chatContent li.admin_edit span.additional_content {
        color: darkgreen;
    }

    .hidden{
        display: none;
    }

    div#chatContent .admin_message .message_content {
        font-weight: bold;
    }


.chat_explanation, .chat_nosession {
    padding-left: 0.5em;
    border-left: 0.5em solid #CDD4E2;
}



span.chat_option {
    font-weight: normal;
}

.password_field {
    display: none;
}

/* content from notification.css */

#notification_overlay{
    width            : 100%; /* will override by js */
    height           : 100%; /* will override by js */
    position         : fixed;
    top              : 0;
    left             : 0;
    z-index          : 300000;
    display          : none;
}

#notification_overlay .transparency{
    background-color : #000;
    width            : 100%; /* will override by js */
    height           : 100%; /* will override by js */
    position         : fixed;
    top              : 0;
    left             : 0;
    z-index          : -1;
    opacity          : 0.50;
}

#notification_container{
    position        : relative;
    width           : 500px;
    opacity         : 1.0;
    z-index          : 300001;
    word-wrap: break-word;
}

#notification_container hr {
    margin-top: 10px;
    padding-bottom: 10px;
}

#notification_container tt {
    font-weight: bold;
    font-size: 1.2em;
    color: #555;
    padding: 0px 5px 0px 5px;
}

#notification_container em {
    font-size: 1.6em;
    font-style:normal;
    margin:10px;
}

#notification_container input[type=text] {
    width:400px;
    border-radius: 3px;
    margin-left:10px;
}

.notification{
    width           : 500px;
    padding         : 20px;
    margin          : 5px 0 5px 0;
    border-radius   : 5px;
    border: 2px #555 solid;
    font-weight     : bold;
    background-color: #fff;
    z-index          : 300001;
}
.notification_error {
    color           : #800000;
}
.notification_success {
    color           : #33CC33;
}
.notification_warn {
    color           : #FF5D00;
}
.notification_general {
    color           : #FFCC00;
}
.notification_button_container{
    float: right;
}
.notification_button{
    min-width: 100px;
    margin: 2px 10px 2px 10px;
    padding: 2px 10px 2px 10px;
    float: left;
    outline: none;
}
/* content from notification.css */
