###Plone###
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO

###Eclipse###
*.project
*.pydevproject
*.settings
/.projectsetup.cfg
/.pydevproject

###Pycharm###
*.idea
/*.iml
/.idea

###Doxygen###
/html

*~
