###Plone###
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO

###Resources compilation artifacts###
/tud/addons/chat/static/*-compiled.js
/tud/addons/chat/static/*-compiled.css

###Eclipse###
*.project
*.pydevproject
*.settings
/.projectsetup.cfg
/.pydevproject

###Pycharm###
*.idea
/*.iml
/.idea

###Doxygen###
/html

*~
