div.clear{
    clear:both;
    width:0;
    height:0;
    padding:0;
    margin:0;
}

.chat_description {
    padding-left: 5px;
}

div#chat{
    width: 100%;
    min-width: 450px;
    padding: 0;
    margin: 5px 0 5px 0;
    border: 1px solid #acacac;
    border-radius:5px;
    position: relative;
}
div#chatContent, div#chatUser, div#chatMsg{
    /*float:left;*/
    min-height:400px;
    padding:5px 0 5px 0;
}
div#chatContent{
    /*width: 80%;*/
    /*float: left;*/
    margin-right: 20%;
    height:400px;
    overflow:auto;
    word-wrap: break-word;
}
    div#chatContent ul{
        list-style:none;
        padding:0;
        margin:0;

    }
    div#chatContent ul li{
        border-bottom:1px solid #efeded;
        padding:5px;
        position:relative;
    }

   div#chat li.hovered{
        background-color: #ddd;
    }

   div#chat li.selected{
        background-color: #FFF18F !important;
    }

    div#chatContent li.ownMessage span.username {
        text-decoration:underline;
    }

div#chatUser{
    float: right;
    width: 20%;
    border-left: 1px solid #acacac;
    word-wrap: break-word;
}
    div#chatUser ul{
        list-style:none;
        padding:0;
        margin:0;
    }

    div#chatUser ul li{
        border-bottom:1px solid #efeded;
        padding:5px;
        height:20px;
        position:relative;
    }

    div#chatUser ul li.adminrole{
        font-style: italic;
    }

    div#chatUser ul li.ownUsername{
        font-weight:bold;
        text-decoration:underline;
    }


div#chatMsg{
    min-height:0;
    height:25px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid #acacac;
}

    form#chatMsgForm {
        width: 100%;
        height: 100%;
    }
    div#chatMsg input[type="text"]{
        width: 80%;
        height: 100%;
        margin: 0;
        border:1px solid #ccc;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #counter {
        left: 80%;
        bottom: 0px;
        height:25px;
        line-height: 25px;
        text-align: right;
        width: 100px;
        margin-left: -105px;
        color: #ccc;
        background-color: transparent;
        position: absolute;
    }

    button#chatMsgSubmit {
        width: 20%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

.simpleButton {
    box-shadow: none;
    border: none;
}

div#chatContent span.username{
    font-weight: bold;
    font-style: italic;
}

    div#chatContent span.chatdate{
        color: #555;
        font-size: 10px;
    }

    div#chatContent li.admin_delete  span.additional_content{
        color: darkred;
    }

    div#chatContent li.admin_delete  div.adminActions{
        display: none !important;
    }

    div#chatContent li.admin_edit span.additional_content {
        color: darkgreen;
    }

    .hidden{
        display: none;
    }

    div#chatContent .admin_message .message_content {
        font-weight: bold;
    }


    div#chatContent .message_content a {
        color: #282C6A;
    }

    div#chatContent .message_content a:hover {
        color: #58516C;
    }

/* UI */

input[type="submit"], button, input[type="text"], select, input[type="password"] {
    font-family: Verdana,​Helvetica,​Arial,​sans-serif;
    font-size: 1em;
    border: 1px solid #333;
    padding: 2px 6px 2px 6px;
    margin-bottom: 5px;
    line-height: 19px !important;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
    text-shadow: #fff 0 1px 0;
    background-color: #e6e6e6;
    background-image: -webkit-linear-gradient(#f5f5f5, rgba(230, 230, 230, 0));
    background-image: -moz-linear-gradient(#f5f5f5, rgba(230, 230, 230, 0));
    background-image: -o-linear-gradient(#f5f5f5, rgba(230, 230, 230, 0));
    background-image: linear-gradient(#f5f5f5, rgba(230, 230, 230, 0));
}

input[type="text"], input[type="password"] {
    text-shadow: none;
    height:19px;
}

input[type="submit"]:hover, button:hover {
    background-color: #ccc;
}

input[type="submit"]:focus, button:focus {
    background-image: -webkit-linear-gradient(#fffed0, #e6e6e6);
    background-image: -moz-linear-gradient(#fffed0, #e6e6e6);
    background-image: -o-linear-gradient(#fffed0, #e6e6e6);
    background-image: linear-gradient(#fffed0, #e6e6e6);
    outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
    font-style: italic;
}

/* Just for FF */
button::-moz-focus-inner {
  border: 0;
}


input[disabled="disabled"], button[disabled="disabled"] {
    color: #ccc;
    border-color: #555;
    text-shadow: #eee 0 1px 0;
}

input[type="text"], select {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    background-image: none;
}

option{
  text-shadow: none;
}

/*select, option{
  background-color:#fff;
  border:1px solid #000;
  font-size:10px;
  margin:3px;
}
*/
.chat_introduction {
    color: #555;
    padding: 5px 0 5px 0;
}

.chat_explanation, .chat_nosession {
    padding: 0 5px 5px 5px;
    border-left: 15px solid #CDD4E2;
    margin: 10px 0 10px 0;
}

.chat_explanation > .introduction {
    border-bottom: dashed 1px #000;
    font-weight: bold;
    margin-right: 5px;
    display:    inline-block;
}

table.future_sessions {
    width: 500px;
}

table.future_sessions th:first-child {
    width: 70%;
}

table.future_sessions tr td:first-child {
    text-align: left;
}

table.future_sessions td, table.future_sessions th {
    text-align: center;
    padding: 3px;
}

.chat_login label {
    font-weight: bold;
    padding-right: 15px;
    display: inline-block;
    width: 100px;
    text-align: right;
    line-height: 2.5em;
}
.chat_login {
    position: relative;
}

span.chat_option {
    font-weight: normal;
}

#chatAppendix {
    padding-bottom: 5px;
}
#chatAppendix h3~div {
    padding-left: 5px;

}
/* content from notification.css */

#notification_overlay{
    width            : 100%; /* will override by js */
    height           : 100%; /* will override by js */
    position         : fixed;
    top              : 0;
    left             : 0;
    z-index          : 300000;
    display          : none;
}

#notification_overlay .transparency{
    background-color : #000;
    width            : 100%; /* will override by js */
    height           : 100%; /* will override by js */
    position         : fixed;
    top              : 0;
    left             : 0;
    z-index          : -1;
    opacity          : 0.50;
}

#notification_container{
    position        : relative;
    width           : 500px;
    opacity         : 1.0;
    z-index          : 300001;
    word-wrap: break-word;
}

#notification_container hr {
    margin-top: 10px;
    padding-bottom: 10px;
}

#notification_container tt {
    font-weight: bold;
    font-size: 1.2em;
    color: #555;
    padding: 0px 5px 0px 5px;
}

#notification_container em {
    font-size: 1.6em;
    font-style:normal;
    margin:10px;
}

#notification_container input[type=text] {
    width:400px;
    border-radius: 3px;
    margin-left:10px;
}

.notification{
    width           : 500px;
    padding         : 20px;
    margin          : 5px 0 5px 0;
    border-radius   : 5px;
    border: 2px #555 solid;
    font-weight     : bold;
    background-color: #fff;
    z-index          : 300001;
}
.notification_error {
    color           : #800000;
}
.notification_success {
    color           : #33CC33;
}
.notification_warn {
    color           : #FF5D00;
}
.notification_general {
    color           : #FFCC00;
}
.notification_button_container{
    float: right;
}
.notification_button{
    min-width: 100px;
    margin: 2px 10px 2px 10px;
    padding: 2px 10px 2px 10px;
    float: left;
    outline: none;
}
/* content from notification.css */