
.editBox  {
    width: 475px !important;
}

div.adminActions{
    bottom:0px;
    right:0px;
    position: absolute;
}

div.adminActions > a{
    text-decoration: none;
    opacity: 0.5;
    border-bottom:none;
    height:20px;
    width:22px;
    padding:0px 4px 3px 4px;
    display:block;
    float:right;
}

div.adminActions a:hover {
    background-color:transparent;
}

div.adminActions > a:hover{
    opacity: 1.0;
}

a.edit {
    background-image: url('tud_chat_images/pen.png');
    background-repeat:
    no-repeat; background-position: center center;
}

a.delete {
    background-image: url('tud_chat_images/false.png');
    background-repeat: no-repeat;
    background-position: center center;
}

a.kick {
    background-image: url('tud_chat_images/false_22.png');
    background-repeat: no-repeat;
    background-position: center top;
}

a.ban {
    background-image: url('tud_chat_images/flag_red_22.png');
    background-repeat: no-repeat;
    background-position: center top;
}

a.warn {
    background-image: url('tud_chat_images/warning.png');
    background-repeat: no-repeat;
    background-position: center top;
}